<script src="/js/list_orders.js"></script>
<script src="/js/shared.js"></script>
    {{>order_list_filters}}

    {{#unless hasOrders}}
        <div class="alert alert-info" role="alert">
        <b>Melding:</b>&nbsp;geen orders gevonden die voldoen aan opgegeven criteria!
        </div>
    {{/unless}}
{{!-- <div class="container">
<div class="col-xl-3 mb-4">


    <div class="card p-0"> --}}
            {{!-- <div class="card-header border-0 bg-body-tertiary p-2 d-flex align-items-start justify-content-between">
<h6 class="fw-bold mb-0">227315 <span class="badge badge-primary">+ 227665</span></h6>

<span class="badge rounded-pill bg-dark mb-1" id="order_status">Mariska de Haan</span>
      </div> --}}

      {{!-- <div class="card-body p-2">
        <div class="d-flex justify-content-between align-items-start">
          <div class="d-flex align-items-start">
            <div class="ms-0">
              <p class="fw-bold mb-0">#<span id="order_id">227315</span></p>
              <p class="text-muted fw-bold mb-0">+<span style="font-size:0.7em;">#227354</span></p>
            </div>
          </div>
          <div class="d-flex align-items-start flex-column">
            <span style="margin:0 auto;" class="badge rounded-pill bg-success mb-1" id="order_status">In behandeling</span>
            <button style="margin: 0 auto;" type="button" class="btn badge rounded-pill bg-primary"><span class="badge rounded-pill bg-dark" id="delivery_method">31</span>Zoetermeer
          </div>
          <div class="d-flex align-items-start flex-column">
            <span class="badge rounded-pill border border-dark text-dark mb-1" id="delivery_date">04-09-2024</span>
          </div>
        </div>
     </div> --}}


    {{!-- <div class="card-footer border-0 bg-body-tertiary p-2 d-flex justify-content-around">
          <a class="btn btn-sm btn-link m-0 text-reset" data-bs-toggle="collapse" href="#customer_info" role="button" aria-expanded="false" aria-controls="customer_info">Klantdetails</a>
          <a class="btn btn-sm btn-link m-0 text-reset" id="order_notes_btn" data-bs-toggle="collapse" href="#order_notes" role="button" aria-expanded="false" aria-controls="order_notes">Ordernotities<span id="order_notes_badge" style="display: none;" class="badge rounded-pill bg-danger mx-1"></span></a>
      </div>
      <div class="collapse p-3" id="customer_info">
        <p class="mb-1">Jolanda&nbsp;Hout vd</p>
        <p class="mb-1">Prof. Oudemansstraat 71</p>
        <p class="mb-1">2628 KC&nbsp;Delft</p>
        <p class="mb-1">0628255833</p>
      </div> --}}
      
    {{!-- </div>
</div>
</div> --}}
    {{#if hasOrders}}
    <div class="panel-group list-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
                <div class="list-group-item active">
                    <div class="row no-gutters">
                        <div class="col-1" id="stopNumColHead">#</div>
                        <div class="col-3">ID</div>
                        <div style="text-align:center;" class="col-4">Status</div>
                        <div style="text-align:right;" class="col-4">Substatus</div>
                    </div>
                </div>
            {{#each orders}}
                  
                {{!-- <a class="list-group-item" aria-expanded="false" aria-controls="{{this.orderId}}" href="#{{this.orderId}}" data-toggle="collapse"> --}}
                <a class="list-group-item" data-bs-toggle="collapse" href="#{{this.orderId}}" aria-expanded="false" aria-controls="{{this.orderId}}"> 
                    <div class="row no-gutters">
                        <div style="margin: auto;" id="stopNumCol" class="col-1">
                            {{#ifnoteq this.routigoStopNum ""}}
                            <span class="badge bg-dark rounded-pill">{{this.routigoStopNum}}</span>
                            {{/ifnoteq}}
                        </div>
                        <div style="margin: auto; font-weight:bold;" class="col-3">
                            #{{this.orderId}}
                            {{#unless (compare this.childOrderId '===' 0)}}
                                <br /><mark class="combine_orderid"><span style="font-size:20px; margin: -3px; padding-right:6px;" class="mdi mdi-set-merge"></span>{{this.childOrderId}}</mark>
                            {{/unless}}
                        </div>
                        <div style="margin: auto; text-align:center;" class="col-4">
                            <span class="badge bg-primary rounded-pill">{{this.orderStatus}}</span>
                            {{#ifeq this.orderSubstateSlug 'afhaal'}}
                            <br />
                            <p class="m-0" style="font-size:.9rem">{{this.customerData.name}}</p>
                            {{/ifeq}}
                        </div>
                        <div style="margin: auto; text-align:right;" class="col-4">
                            <span class="badge {{this.orderSubstateSlug}} rounded-pill">{{this.orderSubstate}}</span>
                        </div>
                    </div>
                </a>
                        
                {{!-- <div class="panel-collapse collapse" id="{{this.orderId}}" role="tabpanel"> --}}
                    <div class="collapse" id="{{this.orderId}}">
                        <div class="card card-body" id="order-properties-card">
                            <div class="row no-gutters">
                                <div class="col-6">
                                    <fieldset class="customerData">
                                        <legend class="legend">Klantdetails</legend>
                                        {{this.customerData.name}}<br />
                                        {{this.customerData.address}}<br />
                                        {{this.customerData.postcode}}&nbsp;{{this.customerData.cityName}}
                                    </fieldset>

                                

                                </div>
                                <div class="col-6">
                                    &nbsp;
                                </div>
                                <div style="margin-top: .2em;" class="col-12">
                                    {{#ifnoteq this.orderStatusSlug "completed"}}
                                        <a class="btn btn-sm btn-outline-success mt-1" href="/order/{{this.orderId}}" role="button">Order picken</a>
                                        <button onclick="getOrder({{this.orderId}});" class="btn btn-sm btn-outline-secondary mt-1">Labels afdrukken</button>
                                        {{#ifeq this.orderSubstateSlug "afhaal"}}
                                        <button onclick="collectedOrder({{this.orderId}});" class="btn btn-sm btn-primary mt-1">Afgehaald melden</button>
                                        {{/ifeq}}
                                    {{/ifnoteq}}
                                    
                                </div>
                            </div>
                        </div>       
                    </div>
          
            {{/each}}
           
        </div>    
    </div>
    {{/if}}
