<script src="/js/list_orders.js"></script>
<script src="/js/shared.js"></script>
    {{>order_list_filters}}

    {{#unless hasOrders}}
    <div style="text-align: center;" class="well">
        <h2>Geen orders gevonden met de opgegeven criteria!</h2>
    </div>
    {{/unless}}
    {{#if hasOrders}}
    <div style="font-size: 14px;" class="panel-group list-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
                <div class="list-group-item active">
                    <div class="row no-gutters">
                        <div class="col-1" id="stopNumColHead">#</div>
                        <div class="col-3">ID</div>
                        <div style="text-align:center;" class="col-4">Status</div>
                        <div style="text-align:right;" class="col-4">Substatus</div>
                    </div>
                </div>
            {{#each orders}}
                  
                {{!-- <a class="list-group-item" aria-expanded="false" aria-controls="{{this.orderId}}" href="#{{this.orderId}}" data-toggle="collapse"> --}}
                <a class="list-group-item" data-bs-toggle="collapse" href="#{{this.orderId}}" aria-expanded="false" aria-controls="{{this.orderId}}"> 
                    <div class="row no-gutters">
                        <div style="margin: auto;" id="stopNumCol" class="col-1">
                            {{#ifnoteq this.routigoStopNum ""}}
                            <mark class="routigo_stopnum">{{this.routigoStopNum}}</mark>
                            {{/ifnoteq}}
                        </div>
                        <div style="margin: auto; font-weight:bold;" class="col-3">
                            #{{this.orderId}}
                            {{#unless (compare this.childOrderId '===' 0)}}
                                <br /><mark class="combine_orderid"><span style="font-size:20px; margin: -3px; padding-right:6px;" class="mdi mdi-set-merge"></span>{{this.childOrderId}}</mark>
                            {{/unless}}
                        </div>
                        <div style="margin: auto; text-align:center;" class="col-3">
                            {{#ifeq this.orderStatusSlug "processing"}}<span style="font-size:2em;" class="mdi mdi-dots-horizontal"></span>{{/ifeq}}
                            {{#ifeq this.orderStatusSlug "ingepakt"}}<span style="font-size:2em;" class="mdi mdi-package-variant-closed-check"></span>{{/ifeq}}
                            {{#ifeq this.orderStatusSlug "completed"}}<span style="font-size:2em;" class="mdi mdi-checkbox-marked-circle-outline"></span>{{/ifeq}}
                        </div>
                        <div style="margin: auto; text-align:right;" class="col-5"><mark class="order_substate {{this.orderSubstateSlug}}">{{this.orderSubstate}}</mark></div>
                    </div>
                </a>
                        
                {{!-- <div class="panel-collapse collapse" id="{{this.orderId}}" role="tabpanel"> --}}
                    <div class="collapse" id="{{this.orderId}}">
                        <div class="card card-body" id="order-properties-card">
                            <div class="row no-gutters">
                                <div class="col-6">
                                    <fieldset class="customerData">
                                        <legend class="legend">Klantdetails</legend>
                                        {{this.customerData.name}}<br />
                                        {{this.customerData.address}}<br />
                                        {{this.customerData.postcode}}&nbsp;{{this.customerData.cityName}}
                                    </fieldset>

                                

                                </div>
                                <div class="col-6">
                                    {{#ifeq this.orderStatusSlug "ingepakt"}}
                                        <mark class="order_contents">
                                            <span style="font-size:2em;" class="mdi mdi-package-variant-closed">{{this.boxAmount}}</span>
                                            <span style="font-size:2em;" class="mdi mdi-bone">{{this.dryAmount}}</span>
                                            <span style="font-size:2em;" class="mdi mdi-account">{{this.packedBy}}</span>
                                        </mark>
                                    {{/ifeq}}
                                </div>
                                <div style="margin-top: .2em;" class="col-12">
                                    {{#ifnoteq this.orderStatusSlug "completed"}}
                                        <button onclick="getOrder({{this.orderId}});" class="btn btn-sm btn-outline-success">Labels afdrukken</button>
                                    {{/ifnoteq}}
                                    <button disabled="disabled" class="btn btn-sm btn-outline-secondary">Order picken</a>
                                </div>
                            </div>
                        </div>       
                    </div>
          
            {{/each}}
           
        </div>    
    </div>
    {{/if}}
