{{#if error}}
<div class="alert alert-danger" role="alert">
    <b>Foutmelding:</b>&nbsp;{{error.data.message}}
</div>
{{/if}}
<script src="/js/shared.js"></script>
{{#unless error}}
<script src="/js/order.js"></script>
<script src="/js/modules/jquery.nice-number.js"></script>
<div class="container mb-5">
  <div class="col-xl-6 mb-4">
    <div class="card p-0">
      <div class="card-body p-2">
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex align-items-center">
            <div class="ms-0">
              <p class="text-muted mb-0" style="font-size:0.7em;">Order ID</p>
              <p class="fw-bold mb-1">#<span id="order_id">{{orderId}}</span></p>
              {{#unless childOrderId}}
                <br />
                <br />
              {{/unless}}                       
              {{#if childOrderId}} 
                <p class="text-muted mb-0" style="font-size:0.7em;">Combiorder ID</p>
                <p class="fw-bold mb-1">#{{childOrderId}}</p>
              {{/if}}
              {{#ifnoteq customerNote ""}}
                <p class="text-muted mb-0" style="font-size:0.7em;">Klantnotitie</p>
                <p class="fw-bold mb-1">{{customerNote}}</p>
              {{/ifnoteq}}
              {{#if childOrderId}}
                {{#ifnoteq childOrderCustomerNote ""}}
                  <p class="text-muted mb-0" style="font-size:0.7em;">Klantnotitie combiorder</p>
                  <p class="fw-bold mb-1">{{childOrderCustomerNote}}</p>
                {{/ifnoteq}}
              {{/if}}
              <p class="text-muted mb-0" style="font-size:0.7em;">Indien geen voorraad</p>
              <p id="nostockselect" class="fw-bold mb-1">Laden...</p>
              <p id="stop-number-label" class="text-muted mb-0" style="font-size:0.7em;">&nbsp;</p>
              <p id="stop-number" class="fw-bold mb-1">&nbsp;</p>
            </div>
          </div>
          <div class="position-absolute top-0 end-0 m-2">
            <div class="d-flex align-items-end flex-column">
              <span class="badge rounded-pill border border-secondary text-secondary mb-1" id="delivery_date">Laden...</span>
              <span class="badge rounded-pill bg-success mb-1" id="order_status">Laden...</span>
              <span class="badge rounded-pill bg-dark" id="delivery_method">Laden...</span>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer border-0 bg-body-tertiary p-2 d-flex justify-content-around">
          <a class="btn btn-sm btn-link m-0 text-reset" data-bs-toggle="collapse" href="#customer_info" role="button" aria-expanded="false" aria-controls="customer_info" >Klantdetails</a>
          <a class="btn btn-sm btn-link m-0 text-reset" id="order_notes_btn" data-bs-toggle="collapse" href="#order_notes" role="button" aria-expanded="false" aria-controls="order_notes" >Ordernotities<span id="order_notes_badge" style="display: none;" class="badge rounded-pill bg-danger mx-1"></span></a>
      </div>
      <div class="collapse p-3" id="customer_info">
        <p class="mb-1">{{customerInfo.first_name}}&nbsp;{{customerInfo.last_name}}</p>
        <p class="mb-1">{{customerInfo.address_1}}</p>
        <p class="mb-1">{{customerInfo.postcode}}&nbsp;{{customerInfo.city}}</p>
        <p class="mb-1">{{customerInfo.phone}}</p>
      </div>
      <div class="collapse p-3" id="order_notes">
        <ul class="list-unstyled" id="order_notes_ul">
          <li id="notes_loading" class="d-flex justify-content-center py-5">
            <div id="notes_status_spinner" class="spinner-grow text-primary" role="status">
              <span id="notes_status_message" class="visually-hidden">Ordernotities worden geladen...</span>
            </div>
          </li>
        </ul>
          <form class="form-outline">
            <textarea class="form-control bg-body-tertiary" id="noteTextArea" rows="4"></textarea>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="customerNoteSwitch">
              <label class="form-check-label" for="customerNoteSwitch">Mail deze notitie naar klant</label>
            </div>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="labelNoteSwitch" disabled>
              <label class="form-check-label" for="labelNoteSwitch">Zet deze notitie op het label</label>
            </div>
            <div id="postOrderAlert" style="display: none;" class="alert alert-danger" role="alert">
            </div>

            <a href="#" id="postOrderNoteBtn" role="button" class="btn btn-outline-primary btn-sm float-end">Opslaan</a>
          </form>
      </div>
    </div>
  </div>
  <div id="order-items-container">
    <ul class="list-group list-group-light">
      {{#each orderItems}}
      {{#ifnoteq this.quantity_to_pick 0}}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
            <input class="form-check-input packing-list" type="checkbox" value="" id="checkbox{{this.id}}" />
            <label class="form-check-label" for="checkbox{{this.id}}">
              <div class="ms-3">
                <p class="fw-bold mb-0">{{this.quantity_to_pick}}x&nbsp;{{#unless this.parent_name}}{{this.name}}{{/unless}}{{#if this.parent_name}}{{this.parent_name}}{{/if}}</p>
                  <p class="fs-6 fw-light fst-italic mb-1">{{#unless this.variation_attr}}Gewicht {{this.product_weight}}kg{{/unless}}{{#if this.variation_attr}}{{this.variation_attr}}{{/if}}</p>
                  <p class="text-muted mb-0"> SKU:&nbsp;{{this.sku}}</p>
           
                {{#ifnoteq this.quantity_refunded 0}}
                  <p class="mt-1 mb-0 text-danger fst-italic">
                    {{this.quantity_refunded}} van de {{this.quantity}} stuks zijn gecrediteerd.
                  </p>
                {{/ifnoteq}}
              </div>
            </label>
        </div>
          <span class="badge bg-primary rounded-pill">{{this.atum_location}}</span>
      </li>
      {{/ifnoteq}}
      {{/each}}
      {{#if childOrderId}}
      <li class="list-group-item d-flex justify-content-center">
        <div class="d-flex align-items-center">
          <div>
          <p class="mb-0">Artikelen van combiorder #{{childOrderId}}</p>
          </div>
        </div>
      </li>
      {{#each childOrderItems}}
      {{#ifnoteq this.quantity_to_pick 0}}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
            <input class="form-check-input" type="checkbox" value="" id="checkbox{{this.id}}" />
            <label class="form-check-label" for="checkbox{{this.id}}">
              <div class="ms-3">
              <p class="fw-bold mb-0">{{this.quantity_to_pick}}x&nbsp;{{#unless this.parent_name}}{{this.name}}{{/unless}}{{#if this.parent_name}}{{this.parent_name}}{{/if}}</p>
                <p class="fs-6 fw-light fst-italic mb-1">{{#unless this.variation_attr}}Gewicht {{this.product_weight}}kg{{/unless}}{{#if this.variation_attr}}{{this.variation_attr}}{{/if}}</p>
                <p class="text-muted mb-0"> SKU:&nbsp;{{this.sku}}</p>
              {{#ifnoteq this.quantity_refunded 0}}
                <p class="mt-1 mb-0 text-danger fst-italic">
                    {{this.quantity_refunded}} van de {{this.quantity}} stuks zijn gecrediteerd.
                </p>
              {{/ifnoteq}}
            </label>
          </div>
        </div>
          <span class="badge bg-primary rounded-pill">{{this.atum_location}}</span>
        
      </li>
      {{/ifnoteq}}
      {{/each}}
      {{/if}}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        {{#unless childOrderId}}
        <div class="d-flex align-items-center">
            <div class="ms-3">
            <p class="fw-bold mb-0">Totaal artikelen:&nbsp;<span id="quantities"></span></p>
            <p class="fw-bold mb-0">Totaal gewicht:&nbsp;<span id="order_weight"></span>kg</p>
          </div>
        </div>
        {{/unless}}
        {{#if childOrderId}}
        <div class="d-flex align-items-center">
            <div class="ms-3">
            <p class="fw-bold mb-0">Totaal artikelen hoofdorder:&nbsp;<span id="quantities"></span></p>
            <p class="fw-bold mb-0">Totaal gewicht hoofdorder:&nbsp;<span id="order_weight"></span>kg</p>
            <p class="fw-bold mb-0">Totaal artikelen combiorder:&nbsp;<span id="child_quantities"></span></p>
            <p class="fw-bold mb-0">Totaal gewicht combiorder:&nbsp;<span id="child_order_weight"></span>kg</p>
            <p class="fw-bold mb-0">Eindtotaal artikelen:&nbsp;<span id="combined_quantities"></span></p>
            <p class="fw-bold mb-0">Eindtotaal gewicht:&nbsp;<span id="combined_order_weight"></span>kg</p>
          </div>
        </div>
        {{/if}}  
      </li>    
    </ul> 
  </div>
  <div class="card p-0" id="quantity-inputs-container">
    <div class="card-body p-2">
      <div class="quantity-inputs">
        <form class="form-setquantities">
            <h3 class="undertitle">Aantal dozen</h3>
            <div class="box_input"><input class="btn btn-lg" type="number" min="0" max="10" id="box_quantity_input" /></div>
            <br />
            <h3 class="undertitle">Aantal droog</h3>
            <div class="dry_input"><input class="btn btn-lg" type="number" min="0" max="10" id="dry_quantity_input" /></div>
            <input style="margin-top: 1em;" type="submit" id="order_submit_button" class="btn btn-outline btn-primary" value="Bevestigen">
        </form>
      </div>
    </div>
  </div>
</div>


<div class="footer fixed-bottom bg-light py-2 px-4 btn-group">

  <a href="#" id="orderListUrlBtn" class="btn btn-sm btn-outline-primary">Terug naar orderlijst</a>

  <a href="#" onclick="event.preventDefault()" id="orderActionBtn" class="btn btn-sm btn-outline-primary">Naar samenstellen</a>
</div>

{{/unless}}